# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Ambiente Python
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Arquivos de Sistema e IDEs ---
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.directory
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*~
.vscode/
.idea/

# --- Dados e Resultados ---
*.pkl
*.pickle
*.db
*.sqlite
logs/
outputs/
